/* Adobe fonts import */
@import url("https://use.typekit.net/fjv6cjn.css");

/* CSS Variables */
:root {
    --primary-font: "roca", sans-serif;
    --secondary-font: "jimbo-condensed-std", sans-serif;
    --primary-color: #37392E; /* dark green */
    --secondary-color: #7A9273; /* green */
    --highlight-color: #19647E; /* blue */
    --highlight-color-light: #FABC50; /* yellow */
}

/* Global styles */

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

.section{
    padding-top: 4rem; /* Prevent navbar overlap */
}


/* Navbar */
#navbar {
    background-color: var(--highlight-color);
}

#navbar .logo {
    width: 50px;
}

.nav-link {
    color: #D8DDD4;
}

.nav-link:hover {
    color: #FABC50;
}

/* Header */
#header .logo {
    max-width: 500px;
}

#header h1 {
    color: #f79112;
}

#header-text {
    padding-top: 20px;
}

/* Grid visualisation CSS for testing */

/* 
.container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}
*/