/* Adobe Fonts Import */
@import url("https://use.typekit.net/fjv6cjn.css");

/* CSS Variables */
:root {
    --primary-font: "roca", sans-serif;
    --secondary-font: "jimbo-condensed-std", sans-serif;
    --primary-color: #37392E; /* Black olive */
    --primary-color-light: #7A9273; /* Reseda green */
    --secondary-color: #19647E; /* Payne's gray */
    --secondary-color-light: #EDF8FD; /* Alice blue */
    --highlight-color: #FABC50; /* Xanthous */
    --highlight-color-light: #D8DDD4; /* Alabaster */
}

/* Global Styles */
body {
    font-family: var(--primary-font);
    background-color: var(--secondary-color-light);
}

h1, h2, h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

.sub-heading-color {
    color: var(--secondary-color);
}

.section {
    padding-top: 2.5rem; /* Prevent navbar overlap */
}

/* Buttons */
.custom-button-filled, 
#button-modal .custom-button-filled {
    border: 2px solid var(--primary-color-light);
    background-color: var(--primary-color-light);
    color: var(--secondary-color-light);
    padding-bottom: 5px;
}

.custom-button-filled:hover {
    border: 2px solid var(--highlight-color-light);
    background-color: var(--highlight-color-light);
}

#button-modal .custom-button-filled {
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
}

#button-modal .custom-button-filled:hover {
    border-color: var(--primary-color-light);
    background-color: var(--primary-color-light);
}

.custom-button-outline {
    border: 3px solid var(--secondary-color);
    padding: 7px 25px;
    color: var(--secondary-color);
}

.custom-button-outline:hover {
    background-color: var(--secondary-color);
    color: var(--secondary-color-light);
}

#button-contact .custom-button-outline {
    border-color: var(--primary-color-light);
    color: var(--secondary-color-light);
    margin-bottom: 2rem;
}

#button-contact .custom-button-outline:hover {
    background-color: var(--primary-color-light);
}

/* Navbar */
#navbar {
    background-color: var(--secondary-color);
}

#navbar .logo {
    width: 40px;
    height: auto;
}

.nav-link {
    color: var(--highlight-color-light);
}

.nav-link:hover {
    color: var(--highlight-color);
}

/* Header */
#header, #header-2 {
    padding-top: 4rem;
    color: var(--secondary-color);
}

#header {
    padding-top: 5rem;
}

#header .logo {
    max-width: 450px;
}

#header h1, #header-2 h1 {
    color: var(--secondary-color);
    text-transform: uppercase;
}

#header h3 {
    color: var(--primary-color);
}

#header-text {
    padding-top: 2rem;
    color: var(--primary-color);
}

/* Services, Library, About Cards */
#services .row {
    justify-content: space-evenly;
}

#services .card,
#library .card,
#about-card .card {
    background-color: var(--highlight-color);
    border: none;
    max-width: 100%;
    max-height: 70%;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
}

#services .card {
    transition: transform 0.2s ease-in-out;
}

#services .card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

#services-card-body {
    height: 100px;
    padding: 1.5rem 0.7rem 0.7rem;
}

.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#library .card {
    padding: 0.7rem;
}

#about-card .card {
    height: 450px;
    margin-bottom: 3rem;
}

#about-card .card-body {
    height: 450px;
    padding: 0.7rem;
}

#about-card .card-img-top {
    height: 77%;
    margin: 0.7rem;
}

#about-card .card-text {
    color: var(--primary-color);
}

#about-card .card-title {
    color: var(--secondary-color);
}

/* Modal */
.modal-header {
    background-color: var(--secondary-color);
    color: white;
}

.modal-text {
    color: var(--primary-color);
    padding: 1rem;
}

/* Footer */
#contact {
    background-color: var(--primary-color);
    color: var(--secondary-color-light);
    padding-bottom: 2rem;
}

#contact .sub-heading-color {
    color: var(--highlight-color);
}

#contact .social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#contact .social-links i {
    color: var(--highlight-color);
    font-size: 3rem;
    transition: color 0.3s ease-in-out;
    margin: 0 2rem;
}

#contact .social-links i:hover {
    color: var(--primary-color-light);
}

#contact .custom-button-filled {
    margin-bottom: 1.5rem;
}

/* Default Adjustments */
.card-body {
    min-height: 150px;
    padding: 20px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    #header .logo {
        max-width: 250px;
    }
    
    #services .card {
        min-height: 220px;
    }

    .card-img-top {
        height: 150px;
    }

    #library .card {
        margin-bottom: 2rem;
    }

    #success-img {
        max-width: 70%;
    }
}

@media screen and (max-width: 480px) {
    #header .logo {
        max-width: 180px;
    }

    .card-img-top {
        height: 150px;
    }

    #library .card {
        margin-bottom: 2rem;
    }
    #success-img {
        max-width: 70%;
    }
}

@media screen and (min-width: 768px) {
    #services .card {
        min-height: 275px;
    }

    #library .card {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    #services .card {
        min-height: 275px;
    }
}

@media screen and (min-width: 1400px) {
    #services .card {
        min-height: 275px;
    }

    #header {
        margin-top: 3rem;
    }
}
